@{
    Page.Title = "Sobre nosotros";
}

<section id="main">
    <h1>Concepto General</h1>
    <p>
        Nuestra panaderia se distingue por el sabor y la frescura de sus dulces.
        Tenemos los mejores postres para diferentes ocaciones: Bodas, Quince-años,
        cumpleaños, ocaciones especiales y mas.
        Estamos ubicados en un lugar centrico y contamos con estacionamientos bajo
        techo para su mayor comodidad.
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
